/* ----------- GLOBAL ----------- */

body {
    font-family: Arial, sans-serif;
    background: #B79980;
    margin: 0;
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 28px;
    margin-bottom: 25px;
    font-weight: 600;
}


/* ----------- CONTAINER SIMPLE SANS FLIP ----------- */

.flip-container {
    width: 100%;
    max-width: 420px;   /* largeur max de ta "carte" */
}

.flip-card {
    width: 100%;
}


/* ----------- RECTO : GRILLE 3 COLONNES ----------- */

.flip-front {
    background: #ffffff;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes */
    gap: 10px;
    place-items: center;
    border-radius: 18px;
}

.logo-img {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 8px;
}


/* ----------- VERSO (AFFICHÉ SOUS LA GRILLE) ----------- */

.flip-back {
    margin-top: 25px;
    background: #151515;
    color: white;
    padding: 25px;
    border-radius: 18px;
}

.flip-back h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.flip-back p {
    font-size: 18px;
    line-height: 1.6;
}

 .img-container {
    position: relative; /* nécessaire pour positionner l'icône */
    display: inline-block;
}

.info-icon {
    position: absolute;
    top:4px;     /* distance du haut */
    right: 4px;   /* distance de la droite */
    font-size: 14px;   /* taille de l’icône */
    color: #000;       /* couleur de l’icône (blanc par exemple) */
    padding:3px;
    border-radius: 50%;
    cursor: pointer;
}
.img-container {
    position: relative;
    display: inline-block;
}

.info-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.2);
    display: none; /* caché par défaut */
    z-index: 10;
}

